### PyCharm ###
.idea/
**/__pycache__
*.py[cod]
run.bat
smtp_debug.bat

### OSX ###
.DS_Store

# Icon must end with two \r
Icon

# Thumbnails
._*

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
venv
django2
.venv
.env
/secrets.json


### Temp folders ###
temp
*.sock
