{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}
    <form class="profile-form" action="{% url 'auth:login' %}"
          method="post">
        {% csrf_token %}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        {{ login_form.as_p }}
        <div class="input-form__submit-buttons">
            <button class="background button input-form__button"
                    type="submit">
                Login
            </button>
            <button type="reset"
                    class="background button input-form__button">
                Clear
            </button>
            <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/"
               class="background button social-login-link"
               style="background-image: url({% static 'img/vk-logo.svg' %})">
            </a>
        </div>
    </form>
{% endblock %}
