{% extends 'adminapp/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <hr>
    <div class="confirmation-page">
        {% if object.avatar %}
            <div class="background products__item user_avatar"
                 style="background-image: url({{ object.avatar|media_folder_files }}">
            </div>
        {% endif %}
        <h1 class="{% if not object.is_active %}not_active{% endif %}">
            {{ object.username|title }}
        </h1>
        <form class="confirmation-page__form" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="input-form__submit-buttons">
                <button type="submit" class="form-control">
                    Save
                </button>
                <button type="button" class="form-control">
                    <a href="
                        {% if object %}
                        {% url 'admin:user_read' object.pk %}
                        {% else %}
                        {% url 'admin:users' %}
                        {% endif %}">Cancel
                    </a>
                </button>
            </div>
        </form>
    </div>
{% endblock %}