{% extends 'adminapp/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <hr>
    <div class="categories_list">
        <div class="category_name">
            <strong class="{% if not object.is_active %}not_active{% endif %}">
                {{ object.title|title }}
            </strong>
        </div>
        {% if object.small_img_path or object.big_img_path %}
            <div class="background products__item"
                 style="background-image: url(
                         {% if object.small_img_path %}
                             {{ object.small_img_path.url }}
                         {% else %}
                             {{ object.big_img_path|media_folder_files }}
                         {% endif %}
                         )">
            </div>
        {% endif %}
        <div class="summary">
            <b>Цена: </b>
            <p>{{ object.price|currency }}</p>
            <b>Количество: </b>
            <p>{{ object.quantity }}</p>
            <b>В каталоге: </b>
            <p>{% if object.is_active %}да{% else %}
                нет{% endif %}</p>
        </div>
        <div class="admin-control">
            <a href="{% url 'admin:product_update' object.pk %}"
               class="button input-form__button admin-control__button">Update</a>
            {% if object.is_active %}
                <a href="{% url 'admin:product_delete' object.pk %}"
                   class="button input-form__button admin-control__button">Delete</a>
            {% endif %}
        </div>
        <b>К категориям:</b>
        <div class="admin-control">
            {% for category in categories %}
                <a href="{% url 'admin:products' category.id %}"
                   class="button input-form__button admin-control__button">
                    {{ category.name }}</a>

            {% endfor %}
        </div>
        <hr>
        <div class="category_desc">
            <b>Краткая информация:</b>
            <p>{{ object.description }}</p>
            <b>Подробная информация:</b>
            <p>{{ object.full_description }}</p>
        </div>
    </div>
{% endblock %}