{% extends 'adminapp/base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block content %}
    <hr>
    <div class="confirmation-page">
        {% if object.small_img_path or object.big_img_path %}
            <div class="background products__item"
                 style="background-image: url(
                         {% if object.small_img_path %}
                             {{ object.small_img_path.url }}
                         {% else %}
                             {{ object.big_img_path|media_folder_files }}
                         {% endif %}
                         )">
            </div>
        {% endif %}
        <form class="confirmation-page__form" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="input-form__submit-buttons">
                <button class="form-control" type="submit">
                    Сохранить
                </button>
                {% if object %}
                    <button class="form-control">
                        <a href="{% url 'admin:product_read' object.pk %}">
                            Отмена
                        </a>
                    </button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}