{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="products-head">
        <div class="container">
            <div class="background padding-content products-header">
                {% include 'mainapp/widgets/header.html' %}
                <div class="hhpb products-header-content">
                    <h2 class="products-header-h2">Our Products Range</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="products-products">
        <div class="container">
            <div class="padding-content padding-products-block padding-products-block__menu products-block">
            {% include 'mainapp/include/inc_products_list_content.html' %}
            </div>
        </div>
    </div>
    <div class="promo">
        {% include 'mainapp/include/inc_promo.html' %}
    </div>
{% endblock %}