{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <hr>
    <div class="confirmation-page">
        Уверены, что хотите удалить категорию <br>{{ object.name|title }}?
        <form action="{% url 'admin:category_delete' object.pk %}"
              method="post" class="confirmation-page__form">
            {% csrf_token %}
            <br>
            <div class="input-form__submit-buttons">
            <button type="submit" class="form-control">
                Delete
            </button>
            <button type="button" class="form-control">
                <a href="{% url 'admin:category_read' object.pk %}">Cancel</a>
            </button>
                </div>
        </form>
    </div>
{% endblock %}
