{% extends 'adminapp/base.html' %}

{% block content %}
    <hr>
    <h1 class="{% if not model.is_active %}not_is_active{% endif %}">{{ model.name|title }}</h1>
    <ul>
        <li class="menu__list"><a
                href="{% url 'admin:category_update' id=model.id %}">Update</a>
        </li>
        <li class="menu__list">{% if model.is_active %}
            <a href="{% url 'admin:category_delete' id=model.id %}">Delete</a>
        {% endif %}
        </li>
    </ul>
    <h4>Products:</h4>
    <ul>
        {% for product in products %}
            <li class="menu__list">
                <a href="{% url 'admin:product_read' id=product.id %}">
                    {{ product.title|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'admin:products' pk=model.id %}">All</a>
    </p>
    <p><a href="{% url 'admin:categories' %}">Back</a></p>
{% endblock %}