{% load static %}
{% load custom_tags %}
<header class="header">
    <a class="logo" href="{% url 'home:index' %}"><img
            src="{% static 'img/logo.svg' %}" alt="logo"></a>
    <nav>
        <ul class="menu">
            {% for item in main_menu_links %}
                <li class="menu__list"><a
                        href="{% url item.link %}{{ item.category }}"
                        class="menu__link
    {% if request.resolver_match.namespace|add:':index' == item.link or request.resolver_match.view_name == item.link %}
        menu__link_active
    {% endif %}">{{ item.title }}
                </a>
                </li>
            {% endfor %}
            {% if user.is_authenticated %}
                <li class="menu__list">
                    <div class="dropdown">
                        <a class="dropdown-toggle menu__link {% if request.resolver_match.view_name == 'order:orders_list' or request.resolver_match.view_name == 'auth:edit' %} menu__link_active {% endif %}" href=""
                           data-toggle="dropdown">
                            {{ user.first_name|default:'User' }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'auth:edit' %}"
                                   class="menu__link">
                                    Profile
                                    ({{ user.first_name|default:'user' }})
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'order:orders_list' %}"
                                   class="menu__link">
                                    Orders
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% if user.is_superuser %}
                    <li class="menu__list">
                        <a href="{% url 'admin:categories' %}"
                           class="menu__link {% if request.resolver_match.namespace == 'admin' %} menu__link_active {% endif %}">
                            Admin panel
                        </a>
                    </li>
                {% endif %}
                <li class="menu__list"><a href="{% url 'auth:logout' %}"
                                          class="menu__link">logout</a></li>
            {% else %}
                <li class="menu__list">
                    <a href="{% url 'auth:register' %}"
                       class="menu__link {% if request.resolver_match.view_name == 'auth:register' %} menu__link_active {% endif %}">sign
                        up
                    </a>
                </li>
                <li class="menu__list"><a href="{% url 'auth:login' %}"
                                          class="menu__link {% if request.resolver_match.view_name == 'auth:login' %} menu__link_active {% endif %}">sign
                    in</a></li>
            {% endif %}
            <li class="menu__list search"><img
                    src="{% static 'img/search.svg' %}" alt="search"></li>
            <li class="menu__list search">
                <a href="{% url 'basket:view' %}" alt="basket" class="basket">
                    <span class="basket-info">
                        {% if basket %}
                            <p><span class="basket-item-total-quantity">{{ basket.0.total_quantity }}</span> товаров</p>
                            <p>$<span class="basket-item-total-cost">{{ basket.0.total_cost}}</span></p>
                        {% endif %}
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</header>